@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: 59 130 246; /* blue */
}

html.dark {
  --bg: #0f172a;
  --surface: #0b1220;
  --text: #e6eef8;
}
html {
  --bg: #f8fafc;
  --surface: #ffffff;
  --text: #0b1220;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
